body {
	background-color: #ced3cf;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	color: #686868;
}

h1 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 600;
	font-size: 2.5em;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #2c464f;
}